
/SimpleClient/WpfApp1/bin
/SimpleClient/WpfApp1/bin
/SimpleClient/WpfApp1/obj
*.vsidx
*.vsidx
SimpleClient/.vs/SimpleClient/CopilotIndices/17.12.31.40377/CodeChunks.db
SimpleClient/.vs/SimpleClient/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
SimpleClient/.vs/SimpleClient/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
*.db
